<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Declaration Column -->
    <ng-container matColumnDef="disasterNumber">
      <th mat-header-cell *matHeaderCellDef> Disaster No. </th>
      <td mat-cell *matCellDef="let element"> {{element.disasterNumber}} </td>
    </ng-container>
  
    <!-- Date Column -->
    <ng-container matColumnDef="declarationDate">
      <th mat-header-cell *matHeaderCellDef> Dec Date </th>
      <td mat-cell *matCellDef="let element"> {{element.declarationDate}} </td>
    </ng-container>

        <!-- Disaster Name Column -->
        <ng-container matColumnDef="disasterName">
            <th mat-header-cell *matHeaderCellDef> Disaster Name </th>
            <td mat-cell *matCellDef="let element"> {{element.disasterName}} </td>
          </ng-container>

        <!-- Disaster Name Column -->
        <ng-container matColumnDef="declarationType">
            <th mat-header-cell *matHeaderCellDef> Dec Type </th>
            <td mat-cell *matCellDef="let element"> {{element.declarationType}} </td>
          </ng-container>
        <!-- State Column -->
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef> State </th>
            <td mat-cell *matCellDef="let element"> {{element.state}} </td>
          </ng-container>
  
    <!-- IncidentType Column -->
    <ng-container matColumnDef="incidentType">
      <th mat-header-cell *matHeaderCellDef> Incident Type </th>
      <td mat-cell *matCellDef="let element"> {{element.incidentType}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>